@using DnDApp.Common;
@model DnDApp.Models.Episode

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Dummy = new DummyStuff();

}

<div id="episode-content">
    <div class="rock-holder"></div>
    <div id="episode-header">
        
        <h2>Chapter 1 : Test Chapter </h2>

    </div>

    <div id="episode-summary">
        <p> @Dummy.LoremIpsum </p>

    </div>

    <div>
        <h3> Characters </h3>
        <div style="display:flex; flex-wrap:wrap; justify-content:space-around;">
        @foreach (var item in Model.PlayerEpisodes)
        {
            <div class = "character-profile-container">
                
                    <img  class="character-profile-headshot" src="~/Content/Images/DummyTemple.jpg" />
                    @* item.PartyMember.Headshot *@
               
                <div class="character-profile-title">
                    @item.PartyMember.Name
                </div>
            </div>
        }
          </div>
    </div>

</div>
<p>
    <a href="~/Views/Episode/Details.cshtml">~/Views/Episode/Details.cshtml</a>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
