@using DnDApp.Services
@using DnDApp.Models
@{
    var currentUserService = new CurrentUserService();
    var currentUser = currentUserService.GetCurrentUser();
}


<div id="play-bar">

    @if (currentUser == null || currentUser.AudioPlayer == null)
    {
        <h3 class="user-name-display"> Audio Player</h3>
        <p id="audioPlayer-episodeTitle"> </p>
        <audio id="audioPlayer" controls>
            <source id="audioPlayer-source" src="#" type="audio/mp3" />
        </audio>
    }
    else
    {
        <h3 class="user-name-display"> @currentUser.Name</h3>
        <p id="audioPlayer-episodeTitle">@currentUser.AudioPlayer.episodeTitle </p>
        <audio id="audioPlayer" controls>
            <source id="audioPlayer-source" src="@currentUser.AudioPlayer.audioUrl" type="audio/mp3" />
        </audio>
    }
</div>



