
@model IEnumerable<DnDApp.Models.PartyMember>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    
 <div id="character-content" style="display:flex; flex-wrap:wrap;">
         
    @foreach (var character in Model) {

        <div id=@character.Id class="outer1">
            
            <div class="outer2">
                <div class="inner1">

                    <div class="inner2">
                        <div class="character-profile-container">
                        </div>


                    </div>




                </div>
                <div class="character-profile-info">
                    <span>@character.Name</span>
                </div>


            </div>



        </div>

       
    }
 </div>
<script src="~/Scripts/jquery-3.3.1.js">
</script>
 <script>
  
     $(".outer1").on('click', function () {
         $(this).addClass('clicked')
         const id = this.id;
         console.log(id);
         setTimeout(function () {
             console.log("yo")
           window.location.pathname = "/Character/Details/" + id
         }, 2000)
     })
</script>