<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>It looks like that can't be found. Whoopsees</h2>
    </hgroup>
</body>
</html>
